In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sqlite3


# Importing the dataset
conn = sqlite3.connect('database.sqlite')

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

In [4]:
df_league = pd.read_sql_query("select * from League;", conn)
df_league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [5]:
df_player_attributes = pd.read_sql_query("select * from Player_Attributes;", conn)
df_player = pd.read_sql_query("select * from Player;", conn)
df_match = pd.read_sql_query("select * from Match;", conn)
df_country = pd.read_sql_query("select * from Country;", conn)
df_team_attributes = pd.read_sql_query("select * from Team_Attributes;", conn)
df_team = pd.read_sql_query("select * from Team;", conn)

In [6]:
df_player_attributes.head(1)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

In [7]:
df_player.head(1)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187

In [8]:
df_country.head(1)

   id     name
0   1  Belgium

In [9]:
df_team_attributes.head(1)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover

In [10]:
df_team.head(1)

   id  team_api_id  team_fifa_api_id team_long_name team_short_name
0   1         9987             673.0       KRC Genk             GEN

In [11]:
df_match.head(1)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.0,1.65,3.4,4.5,1.78,3.25,4.0,1.73,3.4,4.2

## Checking NULL

In [12]:
df_match.isna().sum()

id                      0
country_id              0
league_id               0
season                  0
stage                   0
date                    0
match_api_id            0
home_team_api_id        0
away_team_api_id        0
home_team_goal          0
away_team_goal          0
home_player_X1       1821
home_player_X2       1821
home_player_X3       1832
home_player_X4       1832
home_player_X5       1832
home_player_X6       1832
home_player_X7       1832
home_player_X8       1832
home_player_X9       1832
home_player_X10      1832
home_player_X11      1832
away_player_X1       1832
away_player_X2       1832
away_player_X3       1832
away_player_X4       1832
away_player_X5       1832
away_player_X6       1832
away_player_X7       1832
away_player_X8       1832
                    ...
B365H                3387
B365D                3387
B365A                3387
BWH                  3404
BWD                  3404
BWA                  3404
IWH                  3459
IWD                  3459
IWA                  3459
LBH                  3423
LBD                  3423
LBA                  3423
PSH                 14811
PSD                 14811
PSA                 14811
WHH                  3408
WHD                  3408
WHA                  3408
SJH                  8882
SJD                  8882
SJA                  8882
VCH                  3411
VCD                  3411
VCA                  3411
GBH                 11817
GBD                 11817
GBA                 11817
BSH                 11818
BSD                 11818
BSA                 11818
Length: 115, dtype: int64

In [13]:
df_team_attributes.isna().sum()

id                                  0
team_fifa_api_id                    0
team_api_id                         0
date                                0
buildUpPlaySpeed                    0
buildUpPlaySpeedClass               0
buildUpPlayDribbling              969
buildUpPlayDribblingClass           0
buildUpPlayPassing                  0
buildUpPlayPassingClass             0
buildUpPlayPositioningClass         0
chanceCreationPassing               0
chanceCreationPassingClass          0
chanceCreationCrossing              0
chanceCreationCrossingClass         0
chanceCreationShooting              0
chanceCreationShootingClass         0
chanceCreationPositioningClass      0
defencePressure                     0
defencePressureClass                0
defenceAggression                   0
defenceAggressionClass              0
defenceTeamWidth                    0
defenceTeamWidthClass               0
defenceDefenderLineClass            0
dtype: int64

In [14]:
df_team.isna().sum()

id                   0
team_api_id          0
team_fifa_api_id    11
team_long_name       0
team_short_name      0
dtype: int64

In [15]:
df_player.isna().sum()

id                    0
player_api_id         0
player_name           0
player_fifa_api_id    0
birthday              0
height                0
weight                0
dtype: int64

In [16]:
df_player_attributes.isna().sum()

id                        0
player_fifa_api_id        0
player_api_id             0
date                      0
overall_rating          836
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
dtype: int64

# Finding similar players

In [17]:
df_player.drop('id',inplace=True,axis=1)
df_player.head(1)

,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187

In [18]:
df_player_attributes.drop('id',inplace=True,axis=1)
df_player_attributes.head(1)

,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

## Combining Tables to Have Player Name

In [19]:
df_comb_player =  pd.merge(df_player, df_player_attributes, on="player_api_id")

In [20]:
df_comb_player.head(1)

,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,player_fifa_api_id_y,date,overall_rating,potential,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,218353,2016-02-18 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

In [21]:
df_comb_player.columns

Index(['player_api_id', 'player_name', 'player_fifa_api_id_x', 'birthday',
       'height', 'weight', 'player_fifa_api_id_y', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [22]:
df_comb_player = df_comb_player.drop(['player_fifa_api_id_x', 'birthday',
       'height', 'weight', 'player_fifa_api_id_y'],axis=1)

In [23]:
import datetime as dt
df_comb_player['date'] = pd.to_datetime(df_comb_player['date'])

# Finding Top Players

In [24]:
def top_N_players(df,year,n=10):
    df_top = df[df['date'].dt.year == year]
    df_top = df_top.sort_values('date').groupby('player_api_id').last()
    return df_top.sort_values('overall_rating').tail(n)

In [25]:
top_N_players(df_comb_player,2016)

,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_api_id,,,,,,,,,,,,,,,,,,,,,
30894,Philipp Lahm,2016-01-28,87.0,87.0,right,medium,high,84.0,47.0,63.0,...,83.0,71.0,86.0,87.0,95.0,11.0,12.0,5.0,14.0,5.0
182917,David De Gea,2016-04-21,87.0,90.0,right,medium,medium,17.0,13.0,21.0,...,68.0,40.0,13.0,21.0,13.0,88.0,81.0,86.0,85.0,89.0
164684,James Rodriguez,2016-02-18,87.0,93.0,left,medium,medium,88.0,85.0,68.0,...,87.0,81.0,25.0,47.0,30.0,15.0,15.0,15.0,5.0,14.0
36378,Mesut Oezil,2016-02-18,88.0,89.0,left,medium,low,80.0,75.0,54.0,...,93.0,76.0,22.0,16.0,19.0,6.0,14.0,10.0,6.0,14.0
107417,Eden Hazard,2016-01-28,88.0,90.0,right,high,medium,80.0,81.0,57.0,...,86.0,86.0,25.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
93447,Robert Lewandowski,2016-01-28,88.0,89.0,right,medium,medium,62.0,89.0,83.0,...,78.0,77.0,25.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
37412,Sergio Aguero,2016-03-10,88.0,88.0,right,high,medium,70.0,90.0,68.0,...,83.0,83.0,13.0,20.0,12.0,13.0,15.0,6.0,11.0,14.0
30834,Arjen Robben,2016-01-28,89.0,89.0,left,high,low,80.0,85.0,51.0,...,84.0,80.0,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
27299,Manuel Neuer,2016-04-21,90.0,90.0,right,medium,medium,15.0,13.0,25.0,...,70.0,37.0,10.0,10.0,11.0,85.0,87.0,91.0,90.0,87.0
19533,Neymar,2016-02-04,90.0,94.0,right,high,medium,72.0,88.0,62.0,...,79.0,81.0,21.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0

In [26]:
top_N_players(df_comb_player,2015)

,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_api_id,,,,,,,,,,,,,,,,,,,,,
37459,David Silva,2015-09-21,88.0,88.0,left,high,low,85.0,72.0,54.0,...,93.0,77.0,23.0,30.0,29.0,1.0,1.0,1.0,1.0,1.0
30955,Andres Iniesta,2015-10-16,88.0,88.0,right,high,medium,79.0,73.0,54.0,...,92.0,71.0,57.0,57.0,56.0,6.0,13.0,6.0,13.0,7.0
19533,Neymar,2015-12-03,89.0,94.0,right,high,medium,72.0,87.0,62.0,...,79.0,81.0,21.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
35724,Zlatan Ibrahimovic,2015-09-21,89.0,89.0,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
107417,Eden Hazard,2015-09-25,89.0,91.0,right,high,medium,80.0,83.0,57.0,...,86.0,86.0,25.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
30834,Arjen Robben,2015-09-25,90.0,90.0,left,high,low,80.0,85.0,51.0,...,84.0,80.0,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
27299,Manuel Neuer,2015-11-26,90.0,90.0,right,medium,medium,15.0,13.0,25.0,...,70.0,37.0,10.0,10.0,11.0,85.0,87.0,91.0,90.0,87.0
40636,Luis Suarez,2015-10-16,90.0,90.0,right,high,medium,77.0,90.0,77.0,...,84.0,85.0,30.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0
30893,Cristiano Ronaldo,2015-10-16,93.0,93.0,right,high,low,82.0,95.0,86.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
30981,Lionel Messi,2015-12-17,94.0,94.0,left,medium,low,80.0,93.0,71.0,...,90.0,74.0,13.0,23.0,21.0,6.0,11.0,15.0,14.0,8.0

In [27]:
top_N_players(df_comb_player,2014)

,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_api_id,,,,,,,,,,,,,,,,,,,,,
107417,Eden Hazard,2014-10-10,88.0,90.0,right,high,medium,78.0,83.0,57.0,...,86.0,86.0,25.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
22543,Radamel Falcao,2014-09-18,88.0,88.0,right,high,medium,55.0,91.0,94.0,...,68.0,87.0,25.0,42.0,25.0,10.0,13.0,6.0,9.0,5.0
30872,Bastian Schweinsteiger,2014-10-17,88.0,88.0,right,high,high,81.0,76.0,79.0,...,86.0,81.0,69.0,80.0,77.0,14.0,14.0,13.0,13.0,11.0
30955,Andres Iniesta,2014-11-07,89.0,89.0,right,high,medium,85.0,73.0,54.0,...,93.0,71.0,57.0,57.0,56.0,6.0,13.0,6.0,13.0,7.0
40636,Luis Suarez,2014-11-28,89.0,91.0,right,high,medium,77.0,91.0,75.0,...,84.0,85.0,30.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0
27299,Manuel Neuer,2014-09-18,90.0,90.0,right,medium,medium,25.0,25.0,25.0,...,20.0,37.0,25.0,25.0,25.0,87.0,85.0,92.0,90.0,86.0
30834,Arjen Robben,2014-10-17,90.0,90.0,left,high,low,80.0,85.0,50.0,...,84.0,80.0,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
35724,Zlatan Ibrahimovic,2014-10-17,90.0,90.0,right,medium,low,76.0,91.0,76.0,...,83.0,91.0,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
30893,Cristiano Ronaldo,2014-10-31,92.0,92.0,right,high,low,83.0,95.0,86.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
30981,Lionel Messi,2014-10-17,93.0,95.0,left,medium,low,84.0,94.0,71.0,...,90.0,76.0,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0

# Finding Top Teams

## League Teams

In [28]:
df_comb_team = pd.merge(df_team, df_team_attributes, on="team_api_id")
df_comb_team.head(1)

,id_x,team_api_id,team_fifa_api_id_x,team_long_name,team_short_name,id_y,team_fifa_api_id_y,date,buildUpPlaySpeed,buildUpPlaySpeedClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,9987,673.0,KRC Genk,GEN,485,673,2010-02-22 00:00:00,45,Balanced,...,60,Normal,Organised,70,High,65,Press,70,Wide,Cover

In [29]:
# making the fuction

In [30]:
import datetime as dt
df_comb_team['date'] = pd.to_datetime(df_comb_team['date'])

In [31]:
df_comb_team_2015 = df_comb_team[df_comb_team['date'].dt.year == 2015]
df_comb_team_2015 = df_comb_team_2015.sort_values('date').groupby('team_api_id').last()

In [32]:
df_comb_team_2015.head()

,id_x,team_fifa_api_id_x,team_long_name,team_short_name,id_y,team_fifa_api_id_y,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
team_api_id,,,,,,,,,,,,,,,,,,,,,
1601,31446,874.0,Ruch ChorzÃ³w,CHO,1118,874,2015-09-10,47,Balanced,48.0,...,50,Normal,Organised,43,Medium,44,Press,49,Normal,Cover
1957,31456,110745.0,Jagiellonia BiaÅ‚ystok,BIA,624,110745,2015-09-10,66,Balanced,54.0,...,66,Normal,Organised,57,Medium,56,Press,49,Normal,Cover
2182,31453,873.0,Lech PoznaÅ„,POZ,700,873,2015-09-10,57,Balanced,50.0,...,67,Lots,Free Form,50,Medium,58,Press,45,Normal,Cover
2186,31458,110747.0,Cracovia,CKR,335,110747,2015-09-10,37,Balanced,50.0,...,33,Little,Organised,59,Medium,34,Press,64,Normal,Cover
4087,11822,111271.0,Ã‰vian Thonon Gaillard FC,ETG,415,111271,2015-09-10,58,Balanced,35.0,...,51,Normal,Organised,47,Medium,43,Press,50,Normal,Cover

In [216]:
import datetime as dt

def end_of_year_player(df_comb_player,year):
    df_comb_player['date'] = pd.to_datetime(df_comb_player['date'])
    df_comb_player = df_comb_player[df_comb_player['date'].dt.year == year]
    df_comb_player = df_comb_player.sort_values('date').groupby('player_api_id').last()    
    df_comb_player.reset_index(level=0, inplace=True)
    return df_comb_player[['player_api_id','player_name', 'date', 'overall_rating', 'potential']]


def end_of_year_team(df_comb_team):
    df_comb_team['date'] = pd.to_datetime(df_comb_team['date'])
    df_comb_team = df_comb_team[df_comb_team['date'].dt.year == 2015]
    df_comb_team = df_comb_team.sort_values('date').groupby('team_api_id').last()
    df_comb_team.reset_index(level=0, inplace=True)
    return df_comb_team[['team_api_id','team_long_name','date']]

def team_to_player(df_match,season):
    df_match = df_match[df_match.season== season ]
    players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
   'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
   'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
    df_team_to_player = df_match[players_list_home]
    df_team_to_player=df_team_to_player_2015.melt(['home_team_api_id']).sort_values('home_team_api_id')
    df_team_to_player = df_team_to_player[["home_team_api_id","value"]]
    df_team_to_player.rename( columns={"value":"player_api_id", "home_team_api_id":"team_api_id" },inplace=True)
    df_team_to_player = df_team_to_player.drop_duplicates()
    return df_team_to_player
    
    
def top_N_team(df_comb_team,df_comb_player,df_match,season="2015/2016",n=10):
    year = int(season.split("/")[0])
    df_end_of_year_team = end_of_year_team(df_comb_team)
    df_end_of_year_player = end_of_year_player(df_comb_player,year)
    df_team_to_player = team_to_player(df_match,season)
    df_end_of_year_player = pd.merge(df_end_of_year_player, df_team_to_player, on="player_api_id")
    df_comb_player_team_group= df_end_of_year_player.sort_values('overall_rating').groupby('team_api_id').head(11)
    df_comb_player_team_group = df_comb_player_team_group.sort_values('overall_rating').groupby('team_api_id').sum()
    df_top = pd.merge(df_comb_player_team_group,df_end_of_year_team,on="team_api_id")
    df_top = df_top[["team_api_id","overall_rating","team_long_name"]]
    df_top = df_top.sort_values("overall_rating")
    return df_top[-n:]

In [217]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2015/2016")
df

     team_api_id  overall_rating     team_long_name
64          8586           828.0  Tottenham Hotspur
98          9789           832.0  Borussia Dortmund
171        10267           837.0        Valencia CF
44          8455           845.0            Chelsea
72          8633           850.0     Real Madrid CF
121         9875           854.0             Napoli
124         9885           856.0           Juventus
45          8456           861.0    Manchester City
73          8634           872.0       FC Barcelona
105         9823           872.0   FC Bayern Munich

In [218]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2014/2015")
df

     team_api_id  overall_rating     team_long_name
124         9885           806.0           Juventus
107         9825           809.0            Arsenal
121         9875           815.0             Napoli
86          8686           825.0               Roma
44          8455           836.0            Chelsea
72          8633           841.0     Real Madrid CF
98          9789           843.0  Borussia Dortmund
105         9823           845.0   FC Bayern Munich
73          8634           848.0       FC Barcelona
45          8456           871.0    Manchester City

In [219]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2013/2014")
df

     team_api_id  overall_rating       team_long_name
44          8455           810.0              Chelsea
86          8686           814.0                 Roma
114         9847           814.0  Paris Saint-Germain
73          8634           823.0         FC Barcelona
89          8721           824.0        VfL Wolfsburg
75          8636           826.0                Inter
98          9789           845.0    Borussia Dortmund
72          8633           846.0       Real Madrid CF
105         9823           848.0     FC Bayern Munich
45          8456           867.0      Manchester City

In [220]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2012/2013")
df

     team_api_id  overall_rating           team_long_name
167        10260           801.0        Manchester United
118         9857           803.0                  Bologna
98          9789           804.0        Borussia Dortmund
55          8535           805.0               Fiorentina
36          8315           806.0  Athletic Club de Bilbao
107         9825           822.0                  Arsenal
44          8455           838.0                  Chelsea
45          8456           844.0          Manchester City
73          8634           848.0             FC Barcelona
105         9823           859.0         FC Bayern Munich

In [221]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2011/2012")
df

     team_api_id  overall_rating       team_long_name
114         9847           803.0  Paris Saint-Germain
167        10260           803.0    Manchester United
110         9829           816.0            AS Monaco
107         9825           817.0              Arsenal
128         9906           820.0      AtlÃ©tico Madrid
98          9789           831.0    Borussia Dortmund
73          8634           831.0         FC Barcelona
105         9823           836.0     FC Bayern Munich
45          8456           842.0      Manchester City
44          8455           852.0              Chelsea

In [222]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2010/2011")
df

     team_api_id  overall_rating     team_long_name
119         9864           797.0          MÃ¡laga CF
128         9906           802.0    AtlÃ©tico Madrid
60          8564           803.0              Milan
94          9772           812.0         SL Benfica
121         9875           813.0             Napoli
73          8634           814.0       FC Barcelona
44          8455           819.0            Chelsea
72          8633           820.0     Real Madrid CF
167        10260           825.0  Manchester United
45          8456           828.0    Manchester City

In [223]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2009/2010")
df

     team_api_id  overall_rating          team_long_name
72          8633           798.0          Real Madrid CF
124         9885           799.0                Juventus
55          8535           802.0              Fiorentina
75          8636           803.0                   Inter
65          8592           804.0  Olympique de Marseille
128         9906           807.0         AtlÃ©tico Madrid
105         9823           807.0        FC Bayern Munich
82          8668           812.0                 Everton
114         9847           817.0     Paris Saint-Germain
73          8634           828.0            FC Barcelona

In [224]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2008/2009")
df

     team_api_id  overall_rating             team_long_name
96          9783           785.0  RC Deportivo de La CoruÃ±a
45          8456           792.0            Manchester City
119         9864           795.0                  MÃ¡laga CF
114         9847           795.0        Paris Saint-Germain
86          8686           797.0                       Roma
73          8634           804.0               FC Barcelona
60          8564           804.0                      Milan
167        10260           810.0          Manchester United
105         9823           812.0           FC Bayern Munich
124         9885           843.0                   Juventus

In [225]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2008/2009")
df

     team_api_id  overall_rating             team_long_name
96          9783           785.0  RC Deportivo de La CoruÃ±a
45          8456           792.0            Manchester City
119         9864           795.0                  MÃ¡laga CF
114         9847           795.0        Paris Saint-Germain
86          8686           797.0                       Roma
73          8634           804.0               FC Barcelona
60          8564           804.0                      Milan
167        10260           810.0          Manchester United
105         9823           812.0           FC Bayern Munich
124         9885           843.0                   Juventus

In [226]:
df = top_N_team(df_comb_team,df_comb_player,df_match,season="2007/2008")
df

     team_api_id  overall_rating        team_long_name
75          8636           668.0                 Inter
81          8659           668.0  West Bromwich Albion
53          8533           679.0         Chievo Verona
11          7842           682.0         Estoril Praia
55          8535           685.0            Fiorentina
73          8634           688.0          FC Barcelona
105         9823           695.0      FC Bayern Munich
93          9768           696.0           Sporting CP
72          8633           703.0        Real Madrid CF
45          8456           703.0       Manchester City